<%= form_with(model: menu) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container"> 
      <div class="field">
      <%= form.label :nome, class:"form-label" %>
      <%= form.text_field :nome, class:"form-control" %>
    </div>
<br>
    <div class="field">
      <%= form.label :telefono, class:"form-label" %>
      <%= form.text_field :telefono, class:"form-control" %>
    </div>
<br>
    <div class="field">
      <%= form.label :indirizzo, class:"form-label" %>
      <%= form.text_field :indirizzo, class:"form-control" %>
    </div>

<br>
      <div class="field">
      <%= form.label :email, class:"form-label" %>
      <%= form.text_field :email, class:"form-control" %>
    </div>
<br>
    <div class="field">
      <%= form.label 'Quantità', class:"form-label" %>
      <%= form.number_field :numero, class:"form-control" %>
    </div>


<br>
      <div class="field">
      <%= form.label 'Prodotto', class:"form-label" %>
      <%= form.file_field :cover, class:"form-control" %>
    </div>

<br>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

  
<% end %>
