<p id="notice"><%= notice %></p>


<div class="container">
  <h1>Prenotazione</h1>
  <table class="table table-dark table-striped">
    <thead id 'table'>
      <tr>
        <th>Prodotto</th>
        <th>Nome</th>
        <th>Telefono</th>
        <th>Indirizzo</th>
        <th>email</th>
        <th>Quantità</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td>
            <%if menu.cover.attached? %>
                <%= image_tag url_for(menu.cover), class: "w-50" %>
            <%end%>
          </td>
          <td><%= menu.nome %></td>
          <td><%= menu.telefono %></td>
          <td><%= menu.indirizzo %></td>
          <td><%=menu.email %><td>
          <td><%=menu.numero %><td>
          <td><%= link_to 'Visualizza', menu, class:'btn btn-info' %></td>
          <td><%= link_to 'Edita', edit_menu_path(menu), class:'btn btn-light' %></td>
          <td><%= link_to 'Elimina', menu, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger ' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Ordina', new_menu_path, class:'btn btn-success' %>
</div>


