<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @menu.nome %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @menu.telefono %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @menu.indirizzo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @menu.email %>
</p>

<p>
  <%if @menu.cover.attached? %>
    <%= image_tag url_for(@menu.cover) %>
  <%end%>
</p>

<%= link_to 'Edit', edit_menu_path(@menu), class:'btn btn-light' %> |
<%= link_to 'Back', menus_path, class:'btn btn-secondary' %>
